<%= month_calendar events: @posts do |date,events| %>
  <%= date.day %>

   <% events.each do |event| %>
    <div>
      <% if event.content %>
        積
      <% end %>
    </div>
  <% end %>
<% end %>