<div>
  <div class = "flex justify-center">
    <h1 class = "mt-14 lg:mt-24 md:text-2xl">TSUMIAGEは、プログラミング学習専用の学習継続サポートサービスです。</h1>
  </div>
  <div class = "flex justify-center">
    <%= link_to signup_path do %>
      <button class = "mt-16 text-black-700 font-semibold  px-4 border-4 border-gray-600 rounded md:text-2xl mt-4 py-1 text-xl">はじめる</button>
    <% end %>
  </div>
  <div class = "ml-60">
    <h1 class = "mt-14 lg:mt-24 md:text-2xl mb-10">TSUMIAGEでできること</h1>
    <ul>
      <li class = "mb-4">学習内容の投稿
      <li class = "mb-4">過去の学習内容の確認,検索
      <li class = "mb-4">努力の積み上がりの可視化(学習カレンダー、継続日数、総学習時間の表示)
      <li class = "mb-4">学習スケジュール作成
      <li class = "mb-4">わからないことをタイムラインで質問、回答
    </ul>
  </div>
</div>