<h1>Profile</h1>
<h2><%= @user.name %></h2>
<h3><%= @microposts.count %>投稿</h3>

<ol>
  <% @microposts.each do |micropost| %>
    <li><%= micropost.content %>
    <%= link_to "delete", micropost, method: :delete,
                                       data: { confirm: "削除しますか？" } %>
  <% end %>
</ol>