<h1>Profile</h1>
<h2><%= @user.name %></h2>
<h3><%= @user.tsumiage_count %>日継続</h3>

<ol>
  <% @posts.each do |post| %>
    <li><%= post.content %>
    <%= link_to "delete", post, method: :delete,
                                       data: { confirm: "削除しますか？" } %>
  <% end %>
</ol>