<div> 
  <%= week_calendar(number_of_weeks: 1, events: @tasks) do |date,tasks| %>

    <div>
      <%= link_to schedules_path(created: date) do %>
        <%= date %>
      <% end %>
    </div>

    <div>
      <% tasks.each do |task| %>
        <%= task.task %>
      <% end %>
    </div>
  <% end %>
</div>