<div class = "mt-40"> 
  <h1 class = "text-2xl mb-6">学習スケジュール</h1>
  <%= week_calendar(number_of_weeks: 1, events: @tasks) do |date,tasks| %>

    <div class = "hover:underline">
      <%= link_to schedules_path(created: date) do %>
        <%= date.strftime("%-m/%d") %>
      <% end %>
    </div>

    <div>
      <% unless tasks.empty? %>
        <p>目標○○時間</p>
        <p>達成○○時間</p>
      <% end %>
    </div>

  <% end %>
</div>