$purple: #C77EB5;
/* humburger */
.hidden{
  display: hidden;
}

/* error message */
.errors{
  color: red;
  ul{
    list-style: none;
  }
}

/* flash mesage */
.flash-success{
  color: green;
  font-size: 20px;
}

.flash-warning{
  color: red;
  font-size: 20px;
}



/* landing-page */
.landing{
  text-align: center;
  padding-top: 130px;

  p{
    font-size: 20px;
    margin-bottom: 100px;
  }

  button{
    height: 50px;
    width: 120px;
    background-color: $purple;
    border: none;

  }
}

button:hover {
  opacity: 0.8;
}




















