/* header */

header {
  display: flex;
  background-color: #008080;
  align-items: center;
}

.title {
  color: black;
  margin-right: auto;
}

.header-item {
  list-style: none;
  display: inline-block;
  padding: 10px;
}