

/* header */

header {
  display: flex;
  background-color: #008080;
  align-items: center;
}

.title {
  color: black;
  margin-right: auto;
}

.header-item {
  list-style: none;
  display: inline-block;
  padding: 10px;
}

/* home page */

/* profile */

.profile{
  padding: 0 80px;
  margin: 50px 100px 50px 150px;
  background-color: #D5EEF2;
  display: inline-block;
}


.profile-item{
  display: inline-block;
  font-size: 30px;
  padding:5px 25px;
}

/* calender */

.calender{
  float: right;
  margin: 50px 50px;
  width: 27%;
  h1 {
    font-size:25px;
  }
  
}



/* body */

.home-body{
  display:flex;
}

/* button */

.tsumiage-button{
  button{
    margin: 10px 150px auto 230px;
    height: 150px;
    width: 150px;
  }
}

/* posts */

.latest-posts{
  h1{
    font-size: 25px;
  }
  p{
    font-size: 20px;
  }
}






