// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.link{
  text-decoration: none;
  color: black ; 
}

.link:hover{
  text-decoration: underline;
}

/* home page */
/* button */
.tsumiage-button{
    margin: 10px 45px auto 45px;
    height: 100px;
    width: 150px;
    font-size:20px;
    border: none;
  }

  .tsumiage-button:hover{
    opacity: 0.8;
}

/* profile */
.profile{
  padding: 0 80px;
  margin: 50px auto 30px 0px;
  display: inline-block;
  background-color: #d3d3d3;
}


.profile-item{
  display: inline-block;
  font-size: 30px;
  padding:5px 25px;
}

/* calender */
.calender{
  float: right;
  margin: 40px;
  width: 27%;
  h1 {
    font-size:25px;
  }
  
}


/* posts */
.latest-posts{
  margin-left: 400px;
  
  h1{
    font-size: 28px;
  }
  p{
    font-size: 20px;
  }
  
}



/* register,setting,login page */

.form-user{

  margin-top: 100px;
  text-align: center;
  .field{
    margin: 40px 0;
    input{
      height: 30px;
      width: 180px;
    }
  }

  .button{

    margin-left:250px;

    input{
      
      height: 30px;
      width: 100px;
      border: none;
    }

    input:hover {
      opacity: 0.8;
    }
    
  }

  p{
    margin-top: 100px;
  }

}





