// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/









/* register,setting,login page */

.form-user{

  margin-top: 100px;
  text-align: center;
  .field{
    margin: 40px 0;
    input{
      height: 30px;
      width: 180px;
    }
  }

  .button{

    margin-left:250px;

    input{
      
      height: 30px;
      width: 100px;
      border: none;
    }

    input:hover {
      opacity: 0.8;
    }
    
  }

  p{
    margin-top: 100px;
  }

}





