// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$purple: #C77EB5;

/* home page */

/* profile */

.profile{
  padding: 0 80px;
  margin: 50px auto 50px 150px;
  display: inline-block;
  background-color: lightgray;
}


.profile-item{
  display: inline-block;
  font-size: 30px;
  padding:5px 25px;
}

/* calender */

.calender{
  float: right;
  margin: 50px;
  width: 27%;
  h1 {
    font-size:25px;
  }
  
}



/* body */

.home-body{
  display:flex;
}

/* button */

.tsumiage-button{
  button{
    margin: 10px 150px auto 230px;
    height: 150px;
    width: 150px;
  }
}

/* posts */

.latest-posts{
  h1{
    font-size: 25px;
  }
  p{
    font-size: 20px;
  }
}

/* register,setting page */

.register-user{

  margin-top: 100px;
  text-align: center;
  .field{
    margin: 40px 0;
    input{
      height: 30px;
      width: 180px;
    }
  }

  .button{

    margin-left:250px;

    input{
      background-color: $purple;
      height: 30px;
      width: 100px;
      border: none;
    }

    input:hover {
      opacity: 0.6;
    }
    
  }

  p{
    margin-top: 150px;
  }

}
