<div class = "calender">

<p>学習カレンダー</p>
  <%= month_calendar events: @posts do |date,events| %>
    <%= date.day %>

      <div>
       <% if !events.empty? %>
          積
        <% end %>
      </div>
  
  <% end %>

</div>